{{#foreach posts}}
<div class="article">
  <div class="content">
    <a href="{{url}}"><div class="img" {{#if feature_image}}style="background-image: url({{feature_image}})"{{/if}}><div class="dark"></div></div></a>
    <div class="text">
      <a href="{{url}}" class="title">{{title}}</a>
      <p class="information"><i class="fa fa-clock-o" aria-hidden="true"></i> <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="DD MMMM YYYY"}}</time> / <i class="fa fa-folder-open" aria-hidden="true"></i> {{#if tags}}{{tags}}{{else}}No tag{{/if}}</p>
      <p class="preview">{{excerpt words="50"}}</p>
    </div>
  </div>
</div>
{{/foreach}}
